<div class="container">
  <h1>Welcome to,{{ title }}</h1>

  <app-partent></app-partent>

  <div *ngFor="let item of persons">
    <ul [ngSwitch]="item.country">
      <li *ngSwitchCase="'France'" class="FR">
        {{ item.name }} {{ item.age }}
      </li>

      <li *ngSwitchCase="'Egypt'" class="EGY">
        {{ item.name }} {{ item.age }}
      </li>

      <li *ngSwitchCase="'Canada'" class="CA">
        {{ item.name }} {{ item.age }}
      </li>

      <li *ngSwitchDefault>{{ item.name }} {{ item.age }}</li>
    </ul>
  </div>

  <!-- <h2 *ngFor="let num of Arr | even">
    {{ num }}
  </h2> -->
</div>
